.login-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-wrapper > h1 {
    font-size: 4em;
}

.login-button {
    margin: 2em;
}