.card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-details {
    text-align: left;
}

.spaces-list-wrapper {
    margin: 0 2em;
}

.card-container:hover {
    transform: scale(1.025);
}
.nav-link {
    text-decoration: none;
    color: black!important;
}
