@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

.App {
  text-align: center;
  font-family: Poppins, sans-serif;
  /* background-color: #DDCAD9; */
  background-color: #ECE6EB;
  min-height: 100vw;
}

h1, h2, h3, h4, h5, h6, a {
  color: #44515D!important;
}

a {
  text-decoration: none!important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navigation {
  box-shadow: none;
}

.card-button {
  height: 40px;
  background-color: #6983b8!important;
  border-color: none!important;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
